@import "tailwindcss";

@layer base {
  * {
    border-color: #141414;
  }
  
  body {
    background-color: #E4E3E0;
    color: #141414;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Custom High Density Monospace & Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #E4E3E0;
}

::-webkit-scrollbar-thumb {
  background: #141414;
}

::-webkit-scrollbar-thumb:hover {
  background: #333333;
}

